.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 1px;
  margin: 0px 0px 80px 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border: 3px solid green; 
}

.c {
  border: 1px solid #ccc;
  display: none;
  padding: 6px 12px;
  cursor: pointer;
}